.chatContainer-grid {
  display: grid;
  grid-template-rows: 10% 77% 13%;
  gap: 0.1rem;
  overflow: hidden;
  @media screen and (min-width: 720px) and (max-width: 1080px) {
    grid-template-rows: 15% 70% 15%;
  }
}
